.frames {
    padding: 0 10px;
}
.photo {
    width: 50%;
}
.referee {

}
.circle {
    width: 2vw;
    height: 2vw;
    background: red;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

.frames {
    font-size: 8vw;
}

.points {
    font-size: 10vw;
    font-weight: bold;
}