<div class="ui-g">
    <div class="ui-g-12 center middle">
        <p-inplace #inplace class="edit middle">
            <span pInplaceDisplay class="display">
                {{player.name}}
            </span>
            <span pInplaceContent class="edit center middle">
                <input #input pInputText type="text" [(ngModel)]="player.name" class="ui-state-default ui-corner-all">
                <button type="button" icon="fa-check" pButton (click)="inplace.deactivate($event)"></button>
            </span>
        </p-inplace>
    </div>
</div>