<div class="ui-g ui-g-12">
    <div class="ui-g-8 ui-g-nopad center middle">
        <div *ngFor="let ball of balls" class="ball {{ball.color}}" (click)="select(ball)">
            <p>{{ball.points}}</p>
        </div>
    </div>
    <div class="ui-g-4 ui-g ui-g-nopad">
        <div class="ui-g-4 ui-g-nopad center middle">
            <div class="buttons">
                <button pButton type="button" (click)="clear()" label="{{ 'clear' | translate }}"></button>
                <button pButton type="button" (click)="frame()" label="{{ 'frame' | translate }}"></button>
            </div>
        </div>
        <div class="ui-g-4 ui-g-nopad center middle">
            <div class="buttons">
                <button pButton type="button" (click)="back()" label="{{ 'back' | translate }}"></button>
                <p-splitButton [model]="fouls" (onClick)="foul" label="{{ 'foul' | translate }} (4)"></p-splitButton>
            </div>
        </div>
        <div class="ui-g-4 ui-g-nopad center middle">
            <div class="buttons enter">
                <button pButton type="button" (click)="enter()" label="{{ 'enter' | translate }}"></button>
            </div>
        </div>
    </div>
</div>