<p-fieldset [legend]="title">
    <input type="text" pInputText [(ngModel)]="user.name" class="full"/>
    <p-fileUpload
            name="file"
            accept="image/*"
            maxFileSize="1000000"
            auto="true"
            [url]="URL_UPLOAD"
            (onUpload)="onUpload($event)">
        <ng-template pTemplate="content">
            <div *ngIf="user.photo">
                <img [src]="URL_IMG + user.photo" class="photo"/>
            </div>
        </ng-template>
    </p-fileUpload>
</p-fieldset>