
.frame {
    height: 24vh;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.result {
    font-size: 8em;
    text-align: center;
    font-weight: bold;
    padding: 0;
}

.frames {
    font-size: 3em;
    text-align: center;
    padding: 0;
}
