<div class="ui-g">
    <div class="ui-g-12 ui-g-nopad center middle">
        <p-inplace #inplace>
            <span pInplaceDisplay class="frames center middle">
                ({{frames}})
            </span>
            <span pInplaceContent class="edit center middle">
                <input #input pInputText autofocus type="text" (keydown.enter)="button.click()" [(ngModel)]="frames" class="ui-state-default ui-corner-all">
                <button #button type="button" icon="fa-check" pButton (click)="inplace.deactivate($event)"></button>
            </span>
        </p-inplace>
    </div>
</div>