<div class="ui-grid-row header middle">
    <div class="ui-grid-col-8 left">
        <p-tieredMenu #menu popup="popup" [model]="items"></p-tieredMenu>
        <button #btn type="button" pButton icon="fa fa-list" label="Menu" (click)="menu.toggle($event)"></button>

        <p-splitButton [model]="langs" [label]="translate.currentLang | uppercase"></p-splitButton>
    </div>
    <div class="ui-grid-col-2 center">
        {{ 'frames' | translate }}
    </div>
    <div class="ui-grid-col-2 center">
        {{ 'points' | translate }}
    </div>
</div>