.break {
    height: 30vh;
}

.ball {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.xxl {
    width: 3em;
    height: 3em;
    margin: 1%;
    -moz-border-radius: 3em;
    -webkit-border-radius: 3em;
    border-radius: 3em;
}

.xl {
    width: 2em;
    height: 2em;
    margin: 1%;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
}

.l {
    width: 1em;
    height: 1em;
    margin: 1%;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}

.m {
    width: 0.5em;
    height: 0.5em;
    margin: 1%;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}

.s {
    width: 0.25em;
    height: 0.25em;
    margin: 1%;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
}

.red {
    background: red;
}

.yellow {
    background: yellow;
}

.green {
    background: green;
}

.brown {
    background: brown;
}

.blue {
    background: blue;
}

.pink {
    background: pink;
}

.black {
    background: black;
}

.total {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 24vh;
    font-size: 22vh;
}

.order {
    height: 100%;
}
