
.result {
    height: 24vh;
}

.break {
    height: 30vh;
}

.points {
    font-size: 22vh;
    font-weight: bold;
    margin:0;
    padding:0;
    line-height: 0;
}

.circle {
    margin:0;
    width: 5em;
    height: 5em;
    background: red;
    -moz-border-radius: 5em;
    -webkit-border-radius: 5em;
    border-radius: 5em;
}