
.result {
    height: 20vmin;
}

.points {
    font-size: 15rem;
    font-weight: bold;
}

.circle {
    width: 30px;
    height: 30px;
    background: red;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}