
.result {
    height: 35%;
}

.break {
    height: 65%;
}

.points {
    font-size: 10em;
    font-weight: bold;
    margin:0;
    padding:0;
    line-height: 0;
}

.circle {
    width: 5em;
    height: 5em;
    background: red;
    -moz-border-radius: 5em;
    -webkit-border-radius: 5em;
    border-radius: 5em;
}