<button pButton type="button" icon="fa fa-gear" (click)="show()"></button>

<p-dialog header="{{ 'settings' | translate }}" [(visible)]="popup" modal="true" closable="false">
    <p-tabView>
        <p-tabPanel header="{{ 'factors' | translate }}">
            <div class="right">
                <label>{{player1.name}}</label>
                <p-spinner [(ngModel)]="player1.factor" [min]="1" [max]="10" [step]="0.25"></p-spinner>
            </div>
            <div class="right">
                <label>{{player2.name}}</label>
                <p-spinner [(ngModel)]="player2.factor" [min]="1" [max]="10" [step]="0.25"></p-spinner>
            </div>
        </p-tabPanel>
    </p-tabView>
    <p-footer>
        <div class="ui-dialog-buttonpane">
            <button pButton type="button" icon="fa-external-link-square" (click)="close()" label="{{ 'Ok' | translate }}"></button>
        </div>
    </p-footer>
</p-dialog>
