:host /deep/ img {
    display: inline !important;
}

.ui-widget input {
    border: 1px solid #dddddd;
    margin: 10px 0;
    padding: 10px 5px;
}

.ui-fileupload-content {
    padding: 0;
    text-align: center;
}