<h1>Admin panel or smtg</h1>

<div class="ui-g" [@visibilityChanged]="visibility">
    <div class="ui-g-6">
        <creator-player [player]="game.data.player1"></creator-player>
    </div>
    <div class="ui-g-6">
        <creator-player [player]="game.data.player2"></creator-player>
    </div>
    <div class="ui-g-12 center">
        <button pButton type="button" (click)="save()" label="{{ 'create' | translate }}"></button>
    </div>
</div>
<div *ngIf="id">
    <div class="">
        <div class="center">
            <qrcode [qrdata]="'http://localhost:3000/control/' + id" [size]="256" [level]="'M'"></qrcode>
        </div>
    </div>
    <div class="">
        <div class="center">
            <a [href]="'http://localhost:3000/result/' + id">http://localhost:3000/result/{{id}}</a>
        </div>
    </div>
</div>