<h1>Admin panel or smtg</h1>

<div class="ui-g" [@visibilityChanged]="visibility">
    <div class="ui-g-6">
        <creator-user [user]="data.player1" title="Player 1"></creator-user>
    </div>
    <div class="ui-g-6">
        <creator-user [user]="data.player2" title="Player 2"></creator-user>
    </div>
    <div class="ui-g-6">
        <creator-user [user]="data.referee" title="Referee"></creator-user>
    </div>
    <div class="ui-g-6">
        <p-fieldset legend="Frames">
            <p-spinner size="100" [(ngModel)]="data.frames" [min]="0" [max]="100" class="full"></p-spinner>
        </p-fieldset>
        <br />
        <p-fieldset legend="Title">
            <input type="text" pInputText [(ngModel)]="data.title" class="full"/>
        </p-fieldset>
    </div>
    <div class="ui-g-12 center">
        <button pButton type="button" (click)="save()" label="{{ 'create' | translate }}"></button>
    </div>
</div>
<div *ngIf="id">
    <div class="">
        <div class="center">
            <qr-code [value]="url + 'control/' + id" [size]="256" [level]="'M'"></qr-code>
        </div>
    </div>
    <div class="">
        <div class="center">
            <a [href]="url + 'result/' + id">{{url}}result/{{id}}</a>
        </div>
    </div>
</div>