<div class="main">
    <div class="form">
        <h1>{{ 'create new game' | translate }}</h1>
        <p-panel header="Players" class="full">
            <div class="ui-g">
                <div class="ui-g-6">
                    <creator-user [user]="data.player1" title="{{ 'player' | translate }} 1"></creator-user>
                </div>
                <div class="ui-g-6">
                    <creator-user [user]="data.player2" title="{{ 'player' | translate }} 2"></creator-user>
                </div>
            </div>
        </p-panel>
        <p-panel header="Other" class="full">
            <div class="ui-g">
                <div class="ui-g-4">
                    <p-fieldset legend="{{ 'title' | translate }}">
                        <input type="text" pInputText [(ngModel)]="data.title" class="full"/>
                    </p-fieldset>
                </div>
                <div class="ui-g-4">
                    <creator-user [user]="data.referee" title="{{ 'referee' | translate }}"></creator-user>
                </div>
                <div class="ui-g-4">
                    <p-fieldset legend="{{ 'frames' | translate }}">
                        <p-spinner [(ngModel)]="data.frames" [min]="0" [max]="100" class="full"></p-spinner>
                    </p-fieldset>
                </div>
            </div>
        </p-panel>
        <div class="create">
            <button pButton
                type="button"
                label="{{ 'create' | translate }}"
                (click)="save()"
                [ngClass]="{'ui-button-success': isValid()}"
                [disabled]="!isValid()"
            ></button>
        </div>
    </div>

    <p-dialog header="{{ 'scan' | translate }}" [(visible)]="id" modal="true" closable="false">
        <div class="center">
            <qr-code [value]="link('control')" [size]="512" [level]="'M'"></qr-code>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button pButton type="button" icon="fa-external-link-square" (click)="go()" label="{{ 'go' | translate }}"></button>
            </div>
        </p-footer>
    </p-dialog>
</div>
<shared-menu class="menu"></shared-menu>
<!--<div [ng2Busy]="{ busy: busy, message: 'loading' | translate }"></div>-->
<creator-busy *ngIf="busy" class="busy"></creator-busy>