<h1>Admin panel or smtg</h1>

<div class="ui-g">
    <div class="ui-g-6">
        <app-player [player]="players[0]"></app-player>
    </div>
    <div class="ui-g-6">
        <app-player [player]="players[1]"></app-player>
    </div>
    <div class="ui-g-12 center">
        <button pButton type="button" (click)="onClick()" label="OK"></button>
    </div>
    <div class="ui-g-12 center">
        <div>
            <qrcode [qrdata]="'http://www.wp.pl'" [size]="256" [level]="'M'"></qrcode>
        </div>
    </div>
</div>
