<!--<div class="ui-grid-row">-->
    <!--<div class="ui-grid-col-5">-->
        <!--<img [src]="players.player1.photo" class="photo"/>-->
    <!--</div>-->
    <!--<div class="ui-grid-col-2">-->

    <!--</div>-->
    <!--<div class="ui-grid-col-5">-->
        <!--<img [src]="players.player2.photo" class="photo"/>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="ui-grid-row">-->
    <!--<div class="ui-grid-col-5">-->
        <!--<h1 class="center">-->
            <!--{{players.player1.name}}-->
        <!--</h1>-->
    <!--</div>-->
    <!--<div class="ui-grid-col-2">-->
        <!--<h6 *ngIf="game.referee">-->
            <!--<img [src]="game.referee.photo" class="referee"/>-->
            <!--<br/>{{game.referee.name}}-->
        <!--</h6>-->
    <!--</div>-->
    <!--<div class="ui-grid-col-5">-->
        <!--<h1 class="center">-->
            <!--{{players.player2.name}}-->
        <!--</h1>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="ui-grid-row">-->
    <!--<div class="ui-grid-col-5">-->
        <!--<div class="ui-grid-row">-->
            <!--<div class="ui-grid-col-4 right">-->
                <!--<div *ngIf="state.player1.active" class="circle center"></div>-->
            <!--</div>-->
            <!--<div class="ui-grid-col-4">-->
                <!--{{state.player1.points}}-->
            <!--</div>-->
            <!--<div class="ui-grid-col-4">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="ui-grid-col-2">-->
        <!--<div class="ui-grid-row">-->
            <!--<div class="ui-grid-col-4 right">-->
                <!--{{state.player1.frames}}-->
            <!--</div>-->
            <!--<div class="ui-grid-col-4">-->
                <!--<span class="frames" class="center">-->
                    <!--({{game.frames}})-->
                <!--</span>-->
            <!--</div>-->
            <!--<div class="ui-grid-col-4 left">-->
                <!--{{state.player2.frames}}-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="ui-grid-col-5">-->
        <!--<div class="ui-grid-row">-->
            <!--<div class="ui-grid-col-4">-->
            <!--</div>-->
            <!--<div class="ui-grid-col-4">-->
                <!--{{state.player2.points}}-->
            <!--</div>-->
            <!--<div class="ui-grid-col-4 left">-->
                <!--<div *ngIf="state.player2.active" class="circle center"></div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div>{{data.result.player1.points}}</div>
<div>{{data.result.player2.points}}</div>

<div *ngIf="data.break.total" class="ui-grid-col-12 center">
    <h3>Break: {{data.break.total}}</h3>
    <div class="break">
        <span *ngFor="let ball of data.break.order">
            <svg class="mini">
                <circle cx="5" cy="5" r="5" attr.fill="{{ball.color}}"/>
            </svg>
        </span>
    </div>
</div>