.title-container {
    height: 10vmin;
    display: table;
    margin: 0 auto;
}

.title {
    text-align: center;
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
    font-size: 2rem;
    font-weight: bold;
}

.frames {
    padding: 0 10px;
}
.photo {
    width: 15vw;
}
.referee {
    width: 10vw;
    display: block;
    text-align: center;
    margin: 0 auto;
}