<div *ngIf="game">

    <div class="title-container">
        <div class="title">{{game.title}}</div>
    </div>

    <div class="ui-g full center">
        <div class="ui-g-5 center">
            <img [src]="photo(game.player1)" class="photo"/>
            <h1 class="center">
                {{game?.player1.name}}
            </h1>
        </div>
        <div class="ui-g-2">
            <div *ngIf="game.referee.name">
                {{ 'referee' | translate }}:
                <img [src]="photo(game.referee)" class="referee"/>
                {{game.referee.name}}
            </div>
        </div>
        <div class="ui-g-5 center">
            <img [src]="photo(game.player2)" class="photo"/>
            <h1 class="center">
                {{game?.player2.name}}
            </h1>
        </div>
    </div>


    <div class="ui-g">
        <div class="ui-g-5">
            <display-result [player]="result.player1" [left]="true"></display-result>
        </div>
        <div class="ui-g-2">
            <div class="ui-g">
                <div class="ui-g-4 right">
                    {{result.player1.frames}}
                </div>
                <div class="ui-g-4">
                    <div class="frames center">
                        ({{game.frames}})
                    </div>
                </div>
                <div class="ui-g-4 left">
                    {{result.player2.frames}}
                </div>
            </div>
        </div>
        <div class="ui-g-5">
            <display-result [player]="result.player2" [left]="false"></display-result>
        </div>
    </div>
</div>