.game {
    height: 100%;
    background-color: #dddddd;
    max-height: 100%;
}

.title-container {
    height: 10vh;
    display: table;
    margin: 0 auto;
}

.title {
    text-align: center;
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
    font-size: 2rem;
    font-weight: bold;
}

.info {
    text-align: center;
    width: 100%;
    height: 45vh;
}

.result {
    text-align: center;
    width: 100%;
    height: 45vh;
}