
.order {
    text-align: center;
}

.total {
    font-size: 8vw;
    line-height: 1;
}

.ball {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 0.5vw;
    height: 0.5vw;
    margin: 0.1vw;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.red {
    background: red;
}

.yellow {
    background: yellow;
}

.green {
    background: green;
}

.brown {
    background: brown;
}

.blue {
    background: blue;
}

.pink {
    background: pink;
}

.black {
    background: black;
}