{
    "game": {
        "frames": 19,
        "referee": {
            "name": "Referee Name",
            "photo": "assets/player.jpg"
        },
        "player1": {
            "name": "Player One",
            "photo": "assets/player.jpg",
            "active": true
        },
        "player2": {
            "name": "Player Two",
            "photo": "assets/player.jpg",
            "active": false
        }
    }
}
