<div class="ui-grid-row middle controls">
    <div class="ui-grid-col-6 center">
        <div *ngFor="let ball of balls" class="ball {{ball.color}}" (click)="select(ball)">
            <p>{{ball.points}}</p>
        </div>
    </div>
    <div class="ui-grid-col-6 buttons center">
        <button pButton type="button" (click)="enter()" label="Enter"></button>
        <p-splitButton [model]="fouls" (onClick)="foul(4)" label="Foul (4)"></p-splitButton>
        <button pButton type="button" (click)="frame()" label="Frame"></button>
        <button pButton type="button" (click)="back()" label="Back"></button>
        <button pButton type="button" (click)="clear()" label="Clear"></button>
    </div>
</div>
