<div class="center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                    <span *ngFor="let ball of balls">
                        <svg class="ball">
                            <circle cx="50" cy="50" r="40" attr.fill="{{ball.color}}" (click)="select(ball)" />
                        </svg>
                        <br *ngIf="ball.points == 1">
                    </span>
                <br /><br />
                <button pButton type="button" (click)="enter()" label="Enter"></button>
                <p-splitButton [model]="fouls" (onClick)="foul(4)" label="Foul (4)"></p-splitButton>
                <button pButton type="button" (click)="frame()" label="Frame"></button>
                <button pButton type="button" (click)="back()" label="Back"></button>
            </div>
        </div>
    </div>
</div>

