.buttons .ui-button {
    width: 100%;
    height: 50%;
    margin: 0;
    display: block;
}
.buttons .button {
    width: 95%;
    height: 8vw;
    margin: 5%;
}

.buttons .enter  {
    height: 8vw;
}

.buttons .enter .ui-button {
    height: 100%;
    margin: 0;
}

.buttons .ui-splitbutton {
    height: 100%;
    width: 100%;
}

.buttons .ui-buttonset .ui-button {
    width: 80%;
    margin: 0;
    display: inline-block;
}

.buttons .ui-splitbutton .ui-button.ui-splitbutton-menubutton {
    width: 20%;
    margin: 0;
    display: inline-block;
}

.buttons .ui-button .ui-button-text {
    font-size: 1em;
    white-space: nowrap;
}

.ui-inplace .ui-inplace-content input {

}

.ui-inplace .ui-inplace-content button {

}

.ball {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 1vw;
    width: 8vw;
    height: 8vw;
    cursor: pointer;
    -moz-border-radius: 500px;
    -webkit-border-radius: 500px;
    border-radius: 500px;
}

.red {
    background: red;
}

.yellow {
    background: yellow;
}

.green {
    background: green;
}

.brown {
    background: brown;
}

.blue {
    background: blue;
}

.pink {
    background: pink;
}

.black {
    background: black;
}

.ball p {
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 2vmax;
}

.yellow p,
.pink p {
    color: black;
}

