.buttons .ui-button {
    width: 8vw;
    height: 3vw;
    margin: 0;
}

.buttons .ui-splitbutton {
    height: 3vw;
}

.buttons .ui-buttonset .ui-button {
    width: 7vw;
    margin: 0;
}

.buttons .ui-splitbutton .ui-button.ui-splitbutton-menubutton {
    width: 2vw;
    margin: 0;
}

.buttons .ui-button .ui-button-text {
    font-size: 3vh;
    white-space: nowrap;
}

.ui-inplace .ui-inplace-content input {

}

.ui-inplace .ui-inplace-content button {

}

.ball {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 1vw;
    width: 5vw;
    height: 5vw;
    cursor: pointer;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.red {
    background: red;
}

.yellow {
    background: yellow;
}

.green {
    background: green;
}

.brown {
    background: brown;
}

.blue {
    background: blue;
}

.pink {
    background: pink;
}

.black {
    background: black;
}

.ball p {
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 1em;
}

.yellow p,
.pink p {
    color: black;
}

