.ui-button {
    width: 150px;
    height: 50px;
    margin: 10px;
}
.ui-splitbutton {
    height: 50px;
}
.ui-buttonset .ui-button {
    width: 127px;
    margin-left: 10px;
}
.ui-splitbutton .ui-button.ui-splitbutton-menubutton {
    margin-left: 0;
    margin-right: 10px;
}
.ball {
    width: 100px;
    height: 100px;
    cursor: pointer;
}