
.top {
    height: auto;
}

.item {
    height: 25vh;
}

.inside {
    height: 15vh;
}

.bottom {
    height: 26vh;
    white-space: nowrap;
}

.edit span {
    display: flex;
    height: 100%;
}

.edit input {
    width: 100%;
    height: 4vw;
    font-size: 3vw;
    text-align: center;
}

.edit .ui-button {
    width: 10%;
    height: 4vw;
}
.edit .ui-inplace-content {
    display: inline-flex;
}