<div class="container">
    <div class="ui-grid ui-grid-responsive ui-grid-pad">
        <app-header></app-header>
        <app-player [state]="result.player1" [player]="config.player1"></app-player>
        <div class="ui-grid-row break">
            <app-referee class="ui-grid-col-8 right middle"></app-referee>
            <app-frame class="ui-grid-col-2 middle"></app-frame>
            <app-break class="ui-grid-col-2"></app-break>
        </div>
        <app-player [state]="result.player2" [player]="config.player2"></app-player>
        <app-controls></app-controls>
    </div>
</div>