<p-fieldset legend="Player">
    <p-panel header="Name">
        <input type="text" pInputText [(ngModel)]="player.name" class="full"/>
    </p-panel>
    <p-fileUpload
            name="file"
            accept="image/*"
            maxFileSize="1000000"
            auto="true"
            [url]="URL_UPLOAD"
            (onUpload)="onUpload($event)">
        <ng-template pTemplate="content">
            <div *ngIf="player.photo">
                <img [src]="URL_IMG + player.photo" class="photo"/>
            </div>
        </ng-template>
    </p-fileUpload>
</p-fieldset>
